In [28]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [21]:
# 1 Read csv
data = pd.read_csv("../insurance.csv")

In [5]:
data.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [6]:
data['sex'] = data['sex'].astype('category')
data['region'] = data['region'].astype('category')
data['smoker'] = data['smoker'].astype('category')

In [7]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
age,1338.0,39.207025,14.049960,18.0000,27.00000,39.000,51.000000,64.00000
bmi,1338.0,30.663397,6.098187,15.9600,26.29625,30.400,34.693750,53.13000
children,1338.0,1.094918,1.205493,0.0000,0.00000,1.000,2.000000,5.00000
charges,1338.0,13270.422265,12110.011237,1121.8739,4740.28715,9382.033,16639.912515,63770.42801

In [8]:
data.groupby("smoker").mean().round(2)

/tmp/ipykernel_14381/3327038305.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby("smoker").mean().round(2)

          age    bmi  children   charges
smoker
no      39.39  30.65      1.09   8434.27
yes     38.51  30.71      1.11  32050.23

In [22]:
# 2 One-hot encoding
data = pd.get_dummies(data)

In [10]:
data.head()

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,1,0,0,1,0,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0,0,0,1,0
2,28,33.000,3,4449.46200,0,1,1,0,0,0,1,0
3,33,22.705,0,21984.47061,0,1,1,0,0,1,0,0
4,32,28.880,0,3866.85520,0,1,1,0,0,1,0,0

In [11]:
# X - independant variable
# y - Dependant variable

In [27]:
# 3 Feature, target selection
y = data['charges']
X = data.drop("charges", axis=1)

In [14]:
X.head()

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,1,0,0,1,0,0,0,1
1,18,33.770,1,0,1,1,0,0,0,1,0
2,28,33.000,3,0,1,1,0,0,0,1,0
3,33,22.705,0,0,1,1,0,0,1,0,0
4,32,28.880,0,0,1,1,0,0,1,0,0

In [29]:
# 4 Test train split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=.8, random_state=1)

In [34]:
# Model
LR = LinearRegression()

In [53]:
# 5 Fitting
LR.fit(X_train, y_train)

LinearRegression()

In [51]:
# 6 Performance evaluation
LR.score(X_test, y_test).round(3)

0.762

In [54]:
LR.score(X_train, y_train).round(3)

0.748